app-header {
    position: fixed;
    display: flex;
    background: #6d7a99;
    align-items: center;
    height: 125px;
    padding-left: 0;
    padding-top: 8px;
    top: 0;
    left: 300px;
    right: 0;
    z-index: 20;

    justify-content: space-between;
    padding: 25px;
    /* border-bottom: 1px solid #e0e2e9; */
}

/*---------------CART-------------------*/

#cart {
    z-index: 16;
    left: 0;
    top: 0;
    height: 100%!important;
    width: 300px;
    /* padding: 8px 0 8px 8px; */
    position: fixed;
    display: block;
    transition: height .3s ease-out 0s;
    background-color: #fff;
}

#cart * {
    flex: 0 1 auto;
    /* font-family: 'Barlow Condensed', sans-serif; */
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

#cart *, :after, :before {
    box-sizing: border-box;
}

#cart div {
    display: block;
}

#cart ul {
    padding-left: 0;
}

#cart .container {
    height: 100%;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, .35);
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding-right: 10px;
    padding-left: 10px;
}

#cart li {
    border-bottom: 1px solid #0000001c;
    position: relative;
    opacity: 1;
    transition: all .3s ease-out 0s;
    height: 100px;
    display: flex;
}

#cart .top {
    background: #d51c4a;
    height: 125px;
    position: relative;
}

#cart .alert {
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    font-weight: 900;
    display: block;
    position: absolute;
    top: 25px;
    /* right: 2%; */
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}

#cart .dropBtn {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    bottom: -75px;
}

#cart .middle {
    height: calc(100vh - 208px);
    overflow: scroll;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
}

#cart .img {
    position: relative;
    padding: 0 10px;
    width: 90px;
    height: 100%;
    display: flex;
    align-items: center;
}

#cart .img img {
    width: 75px;
    height: auto;
    margin: auto;
    vertical-align: middle;
    border: 0;
}

#cart .details {
    display: block;
    /* vertical-align: middle; */
    position: relative;
    padding: 7px 5px 0;
    flex: 1;
}

#cart .finalPrice {
    position: absolute;
    display: flex;
    bottom: 5px;
    right: 5px;
    align-items: flex-end;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 25px;
}

#cart .rightList {
    width: 55px;
}

#cart h3 {
    word-break: break-word;
    font-size: 20px;
    font-weight: 100;
    margin: auto;
}

#cart .quantity {
    position: absolute;
    bottom: 5px;
    transition: opacity .3s ease-out 0s;
    z-index: 1;
    font-size: 25px;
    font-weight: 200;
}

#cart .quantity p {
    margin: 0;
}

#cart .del {
    color: #2f416e;
    position: absolute;
    z-index: 12;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#cart .del::before {
    content: "\f057";
    font-family: FontAwesome;
    font-size: 25px;
}

#cart .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}

#cart .footer-content {
    background: #6d7a99;
    height: 100px;
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

#cart .buttons {
    color: #fff;
    display: flex;
    align-items: center;
    align-items: center;
    margin: auto;
}

#cart .to-pay {
    background: #d51c4a;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 40%;
    cursor: pointer;
}

#cart .to-pay p {
    margin: 0;
}

#cart .icon-cart {
    left: 10px;
    position: absolute;
}

#cart .icon-cart::before {
    content: "\f07a";
    color: #fff;
    font-family: FontAwesome;
    font-style: italic;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 42px;
}

#cart .number {
    font-style: normal;
    font-weight: 400;
    position: absolute;
    width: 24px;
    height: 24px;
    font-size: 14px;
    border-radius: 100%;
    background: #f79624;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 9px;
}

/*----------------END CART----------------*/

#webmarket nav {
    background-color: #d51c4a;
    position: fixed;
    z-index: 10;
    top: 125px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#webmarket .btnGroup {
    width: 33%;
    text-align: left;
}

.btn-info {
    background-color: #6d7a99;
}

.size {
    font-size: 1.2em;
}

#webmarket .middleContent {
    width: 33%;
    text-align: center;
}

#webmarket .searchInput {
    width: 33%;
    text-align: right;
}

#webmarket .searchInput input {
    height: 42px;
    width: 200px;
}

#webmarket .middleContent h1 {
    margin: 0;
    color: white;
}

/* #webmarket nav h1 {
    display: inline-block;
} */

#webmarket .gridCards, nav {
    position: relative;
    top: 175px;
    transition: all .3s ease-out 0s;
    padding-left: 325px;
    padding-right: 25px;
    right: 0;
    left: 0;
}

#webmarket *, ::after, ::before {
    box-sizing: border-box;
    flex: 0 1 auto;
}

#webmarket body, .productList {
    background-color: #f0f3f9;
    transition: all .3s ease-out 0s;
}

#webmarket div {
    display: block;
}

#webmarket .gridCards ul {
    position: relative;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0!important;
}

#webmarket li, ul {
    list-style: none;
    margin: 0;
}

#webmarket li {
    padding: 8px 6px;
    position: relative;
    display: flex;
    flex: 1 0 0%;
    /* min-width: 310px; */
}

#webmarket .product {
    background: #fff;
    min-width: 300px;
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 232px;
    border: 1px solid #fff;
    position: relative;
    overflow: visible;
    transition: all .3s ease-out 0s;
    padding: 10px 0;
}

#webmarket .productPic {
    max-height: 100%;
    max-width: 100%;
    flex: 0 0 auto;
    transition: all .3s ease-out 0s;
    vertical-align: middle;
    border: 0;
}

#webmarket .textContainer {
    flex: 1;
    padding: 3px 0 0 10px;
    min-width: 0;
    padding-right: 30px;
    padding-left: 15px;
}

#webmarket .price, .currency {
    display: inline-block;
    font-size: 1.8em;
}

#webmarket .currency {
    font-size: 12px;
}

#webmarket .productName {
    font-size: 1.8em;
    margin-bottom: 1px;
}

#webmarket .description {
    /* font-size: 1.3em; */
    max-height: 20px;
    overflow: hidden;
    /* margin-bottom: 3px; */
}

#webmarket .addToCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-top: auto;
    height: 58px;
    left: 0;
    bottom: 0;
    padding: 0 10px;
    border-top: 1px solid #f0f3f9;
    width: 100%;
}

#webmarket .productPic {
    width: 120px;
    height: 120px;
}

#webmarket .addToBasket {
    margin-left: auto;
    min-width: 58px;
    display: flex;
    color: #fff;
}

#webmarket .addToBasket {
    border: 1px solid transparent;
    padding: 0px 10px;
    height: 35px;
    font-size: 1.6em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #d51c4a;
    box-shadow: none;
    border-radius: 4px;
    transition: all .3s ease-out 0s;
    cursor: pointer;
}

#webmarket .btnContainer {
    position: relative;
    margin: 0;
    opacity: 1;
    width: 28px;
    height: 28px;
    display: block;
}

#webmarket .btnContainer+.btnContainer {
    order: 1;
}

#webmarket .units {
    position: relative;
    display: flex;
    align-items: center;
    height: 32px;
    flex-shrink: 0;
}

#webmarket .unitsBtn {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #e0e2e9;
    margin: 0;
    padding: 0;
    line-height: normal;
    background: none;
    box-shadow: none;
    opacity: 1;
    /* font-size: 0; */
    transition: all .3s ease-out 0s;
    outline: none;
}

#webmarket .unitsBtn:hover {
    border-color: #d51c4a;
}

#webmarket .unitsBtn:active {
    border-color: #048bf3;
}

#webmarket .addBtn::after {
    width: 2px;
    height: 10px;
}

#webmarket .unitsBtn::before {
    width: 10px;
    height: 2px;
}

#webmarket .unitsBtn:active::after, .unitsBtn:active::before {
    background: #048bf3
}

#webmarket .unitsBtn::after, .unitsBtn::before {
    content: "";
    position: absolute;
    right: 50%;
    top: 50%;
    background: #d51c4a;
    transform: translate(50%, -50%);
    transition: all .3s ease-out 0s;
}

#webmarket .unitsNumber {
    display: block;
    width: 60px;
    margin-left: 5px;
    direction: ltr;
    background: #fff;
    border: 1px solid #e0e2e9;
    box-shadow: none;
    text-align: center;
    padding: 0;
    font-size: 1.6em;
    color: #2f416e;
    border-radius: 2px!important;
    height: 30px;
    float: none;
    margin: 0 15px 0 15px;
    transition: all .3s ease-out 0s;
}

#webmarket .unitsNumber:hover {
    border-color: #2f416e;
}

.inStock {
    text-align: center;
    margin: auto;
    font-size: 0.7em;
}

.unitsAvailable {
    position: absolute;
    bottom: 60px;
    left: 35px;
    color: red;
}

/*
background-image: url(https://cdn.apartmenttherapy.info/image/upload/f_auto,q_auto:eco,w_1460/k%2FEdit%2F2019-06-Shopping-The-Middle-Aisles%2FInner_Aisle_of_the_Store);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    background-position: center;
    height: calc(100vh - 100px);
*/